{{ "{% extends '"~ bundle ~"::layout.html.twig' %}" }}

{% include 'views/others/stylesheet.html.twig' %}

{{ "{% block body %}" }}

    <h2>Edit {{ entity }}</h2>
    
    {%- include "views/others/flash.html.twig" %}
    
    <form class="form_edit" action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
        {{ "{{ form_widget(edit_form) }}" }}
        
        {% set hide_edit, hide_delete = true, false %}
        
        <ul class="record_actions">
            {% include 'views/others/record_actions.html.twig' %}
            <li class="record_edit"><input type="submit" value="Save changes" /></li>
        </ul>
        
    </form>
    
{{ "{% endblock %}" }}
