{{ "{% extends '"~ bundle ~"::layout.html.twig' %}" }}

{% include 'views/others/stylesheet.html.twig' %}

{{ "{% block body %}" }}
    
    <h2>New {{ entity }} </h2>
    
    <form class="form_new" action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
    
        {% set hide_edit, hide_delete = true, true %}
            
        <ul class="record_actions">
            {% include 'views/others/record_actions.html.twig' %}
            <li class="record_new"><input type="submit" value="Save" /></li>
        </ul>
        
    </form>

{{ "{% endblock %}" }}
