{{ "{% extends '::base.html.twig' %}" }}

{{ "{% block stylesheets %}" }}
    {{ '{{ parent() }}' }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ "{{ asset('bundles/sensiogenerator/crud/css/style.css') }}" }}" />
{{ '{% endblock %}' }}

{{ "{% block body %}" }}
    
    <h2>{{ entity }} creation</h2>
    
    <form id="{{ entity }}_new" action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    
    {% set hide_edit, hide_delete = true, true %}
    {% include 'views/others/record_actions.html.twig' %}

{{ "{% endblock %}" }}
