{{ "{% extends '"~ bundle ~"::layout.html.twig' %}" }}

{% include 'views/others/stylesheet.html.twig' %}

{{ "{% block body %}" }}

    <h2>Show {{ entity }}</h2>
    
    {%- include "views/others/flash.html.twig" %}
    
    <table class="show">
        <tbody>
        {%- for field, metadata in fields %}
    
            <tr>
                <th>{{ metadata.columnName|replace({'_': ' '})|capitalize }}</th>
    
            {%- if metadata.type in ['date', 'datetime'] %}
    
                <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}</td>
    
            {%- else %}
    
                <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
    
            {%- endif %}
    
            </tr>
                
        {%- endfor %}
    
        </tbody>
    </table>
    
    {% set hide_edit, hide_delete = false, false %}
    
    <ul class="record_actions">
        {% include 'views/others/record_actions.html.twig' %}
        {% if ('delete' in actions) and (not hide_delete) %}
        <li class="record_delete">
            <form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
                {{ '{{ form_widget(delete_form) }}' }}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endif %}
    </ul>
    
{{ "{% endblock %}" }}
